.page-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.justice-image {
  width: 70vh;
  height: 70vh;
  object-fit: contain;
  position: absolute;
  bottom: 0vh;
  left: -2vh; 
  z-index: -1;
}


.login-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}