.profile-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.profile-header {
    text-align: center;
}

.profile-content{
    display: flex;
    gap: 2rem;
}

.profile-info {
    flex: 1;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.profile-image {
  align-self: center;
  width: 35vh;
  height: 35vh;
  overflow: hidden;
  margin: 2vh;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

