body{
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-root {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.page-content{
    flex: 1;
    margin-left: 280px;
    padding: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: calc(100vw - 280px);
    min-height: 100vh;
}
